<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <%- partial('_partial/tag-cloud') %>
      <% if (page.content) { %><div class="post-body page-extra"><%- page.content %></div><% } %>
    </div>
  </div>
</div>
